.ant-layout, .ant-layout {
    height: 100%;
    background-color:#efefef;
}

.ant-layout-header {
    background-color: #fff;
    height: auto!important;
    line-height: normal;
    padding: 0;
}

.ant-layout-sider {
    background-color: #fff;
}

.ant-layout-sider  {
    width: auto!important;
    flex: none!important ;
    max-width: none!important ;
    min-width: auto!important;
}
// .ant-menu {
//     width: auto!important;
// }
.ant-menu-inline {
    border: none!important;
}