.header-comp {
   display: flex;
   width: 100%; 
   height: 100%;
   border-top: 3px solid #1DA57A;
   box-shadow: 0 0 8px 0 hsla(0,0%,60%,0.53);

   .header-left {
      width: 200px;
      height: 100%;
   }

   .header-center {
      flex: 1;
      height: 100%;
      font-size: 24px;
      line-height: 64px;
      // font-weight: bold;
      text-align: center;
   }

   .header-right {
      display: flex;
      align-items: center;
      width: 185px;
      padding-right: 10px;
      // height: 100%;
      // background-color: palevioletred;

      &:hover {
         background-color: rgba(0, 0, 0, 0.1);
      }

      .header-avatar {
         width: 40px;
         height: 40px;
         background-color: #ddd;
         border-radius: 50%;
      }

      .header-info {
         margin-left: 5px;
         display: flex;
         flex-direction: column;
         flex: 1;
         color: #333;
      }

      .header-arrow {
         width: 20px;
      }
      
      .up {
         transform: rotate(-30deg);
      }
   }
}