.header-comp {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%; 
   height: 100%;
   background-color: #1183fb;
   box-shadow: 0 0 8px 0 hsla(0,0%,60%,0.53);
   padding: 0 40px;

   .header-left {
      display: flex;
      align-items: center;
      min-width: 220px;
      height: 100%;

      h2 {
         font-size: 20px;
         color: #fff;
         cursor: pointer;
      }

      span {
         margin-left: 10px;
         display: inline-block;
         padding: 1px 5px;
         border-radius: 4px;
         font-size: 12px;
         cursor: pointer;
         background-color: rgba(255,255,255,.2);

         &:hover {
            background-color: rgba(0,0,0,.1);
            color: #fff!important;
         }

         &:nth-of-type(1) {
            color: yellow;
         }

         &:nth-of-type(2) {
            color: #fff;
         }
      }
   }

   .header-center {
      display: flex;
      align-items: center;
      min-width: 680px;
      height: 100%;
      font-size: 15px;
      color: #fff;


      .center-left, .center-center, .center-right {
         .span {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            padding: 0 10px;

            &:hover {
               background-color: rgba(0,0,0,.1);
            }
         }
      }

      .center-line {
         width: 2px;
         height: 20px;
         margin: 0 10px;
         background-color: rgba(255,255,255,.4);
      }

   }

   .header-right {
      width: 220px;
      height: 100%;
      // background-color: purple;
   }

   // 路由active
   .selected {
      background-color: rgba(0,0,0,.1)!important;
   }
}